---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  mylar:
    image: linuxserver/mylar
    environment:
      - PUID={{ uid }}
      - PGID={{ gid }}
    volumes:
      - /var/homelabos/mylar/config:/config
      - {{ storage_dir }}/Books/Comics:/comics
      - {{ storage_dir }}/Downloads/Comics:/downloads
    restart: unless-stopped
    networks:
      - traefik_network
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.frontend.rule=Host:mylar.{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=8090"
      - "traefik.frontend.passHostHeader=true"
      - "traefik.frontend.headers.SSLRedirect=true"
      - "traefik.frontend.headers.STSSeconds=315360000"
      - "traefik.frontend.headers.browserXSSFilter=true"
      - "traefik.frontend.headers.contentTypeNosniff=true"
      - "traefik.frontend.headers.forceSTSHeader=true"
      - "traefik.frontend.headers.SSLHost=${DOMAIN_NAME}"
      - "traefik.frontend.headers.STSIncludeSubdomains=true"
      - "traefik.frontend.headers.STSPreload=true"
      - "traefik.frontend.headers.frameDeny=true"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM http://{{ domain }}"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM https://{{ domain }}"
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:mylar.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=8090"
{% endif %}